.container {
  margin: 2rem;
}

button {
  margin-right: 1rem;
}

.user-info {
  margin-top: 1.5rem;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #f9f9f9;
}

.service-img {
  width: 300px; /* tamaño fijo */
  height: 200px; /* tamaño fijo */
  object-fit: contain;
  border-radius: 12px;
  display: block;
  margin: 0 auto;
}
